{% extends "admin_layout.html" %}
{% block title %}{{ _("Administrators panel") }}{% endblock %}
{% block content %}

          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">{{ _("Events") }}</p>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table">
                  <tbody>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>Lorum ipsum dolem aire</td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>Lorum ipsum dolem aire</td>
                    </tr>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td>Lorum ipsum dolem aire</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


{% endblock %}
