{% extends "admin_layout.html" %}
{% block title %}{{ _("Admin Instruments") }}{% endblock %}
{% block content %}

          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">
                {{ _("Admin Instruments") }} &nbsp;
                <a class="button is-link is-small" href="/admin/instrument/add">{{ _("Add") }}</a>
              </p>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table">
                  <thead>
                    <tr>
                      <th>{{ _("Instrument") }}</th>
                      <th>{{ _("Actions") }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in instruments: %}
                    <tr>
                      <td>{{ i.name }}</td>
                      <td>
                        {% if i.is_deleted %}
                          <form action="/admin/instrument/make_visible/{{ i.public_id}}" method="post">
                            {{ make_visible_form.hidden_tag() }}
                            <a href="/admin/instrument/edit/{{ i.public_id }}" class="button is-success is-small">{{ _("Modify") }}</a>
                            {{ make_visible_form.submit(class="button is-small is-warning") }}
                          </form>
                        {% else %}
                          <form action="/admin/instrument/hide/{{ i.public_id}}" method="post">
                            {{ hide_form.hidden_tag() }}
                            <a href="/admin/instrument/edit/{{ i.public_id }}" class="button is-success is-small">{{ _("Modify") }}</a>
                            {{ hide_form.submit(class="button is-small is-danger") }}
                          </form>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>


{% endblock %}
