<!DOCTYPE html>
<html class="route-index">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}" />
  </head>
  <body class="layout-documentation page-components">
    <div class="container">
        <nav class="navbar ">
            <div class="container">
            <div class="navbar-brand">
                <div class="navbar-item ">
                <h6 class="subtitle">{% block title %}{% endblock %}</h6>
                </div>
            </div>
            </div>
        </nav>
    </div>


    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">

        </div>
      </div>
    </section>


    <section class="section">
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
          {% if messages %}
              <section class="section" style="padding-top: 0px">
              {% for category, message in messages %}
                  <div class="notification {{ category }}">
                      {{ message }}
                  </div>
              {% endfor %}
              </section>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <p id="tsp">
          <small>
            Powered by: <a href="https://github.com/dgalus/sheet_music_organizer">Sheet music organizer</a>
            <br>
            Website uses open source CSS framework <a href="http://bulma.io/">Bulma</a>.
          </small>
        </p>
      </div>
    </footer>
  </body>
</html>